<!DOCTYPE html>
<html>
<head>
	<title> Home Page </title>
</head>
<body>
	<h1> Calculator </h1>

	<!-- <h2> checking if else </h2> -->

	<!-- {% if number < 10 %}
	<p> {{number}} is less than 10 </p>
	{% else %}
	<p> {{number}} is greater than 10 </p>
	{%endif%} -->

	<!-- {% for i in my_friends %}
		<h2>{{i}}</h2>
	{%endfor%} -->



	<form method="POST" action="/submit" enctype="multipart/form-data">
		<input type="text" name="number 1" placeholder="Enter first number">
		<input type="text" name="number 2" placeholder="Enter second number">
		<input type="text" name="operation" placeholder="Enter operation ">
		<!-- <input type="file" name="userfile"> -->
		<input type="submit">
	</form>



</body>
</html>